<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style3.css">
    <title>MovieGuessr</title>


</head>

<body>

    <div class="background2">


        <div class="titleM">MovieGuessr</div>


        <div class="textHint" style="margin-top: 5%;">
            - rule 1 : random text here<br>
            - rule 1 : random text here<br>
            - rule 1 : random text here
        </div>


        <div style="margin-top: 12%;">
            <br><br>
            <div class="mainMenu">
                <a href="movieGuessr.html" class="buttonMain">Start game</a>

            </div>
            <br><br>
            <div class="mainMenu">
                <a href="movieGuessr.html" class="buttonMain">Leaderboards</a>

            </div>
            <br><br>
            <div class="mainMenu">
                <a href="movieGuessr.html" class="buttonMain">Logout</a>
            </div>
        </div>
    </div>

    <script src="menuDrop.js"></script>
</body>

</html>