{% extends "layout/base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div style="margin-top: 12%;">
    <br><br>
    <div class="mainMenu">
        <a class="buttonMain" href="{% url 'game' %}">Start game</a>

    </div>
    <br><br>
    <div class="mainMenu">
        <a href="{% url 'leaderboard' %}" class="buttonMain">Leaderboards</a>

    </div>
    <br><br>
    <div class="mainMenu">
        <a href="{% url 'logout' %}" class="buttonMain">Logout</a>
    </div>
</div>

{% else %}

<div style="margin-top: 12%;">
<br><br>
    <div class="mainMenu">
        <a href="{% url 'login' %}" class="buttonMain">Login</a>

    </div>
</div>

{% endif %}

{% endblock %}