<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style3.css">
    <title>MovieGuessr</title>


</head>

<body>




    <!--buttons
    <div class="baseStyle">
        <p>MovieGuessr</p>
    </div>
    <div class="base2Style">
        <p class="parStyle"> sample text summary sample text summary sample text summary 
            sample text summary sample text summary sample 
            text summary sample text summary sample text summary sample 
            text summary sample text summary sample text summary </p>
    </div>
   -->



    <div class="background">
        <div class="flexbox">

            <div style="padding: 10px;">
                <button onclick="menuDrop()" class="dropdown button dropbtn buttonMenu"></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="Home.html">Home</a>
                    <a href="#about">Logout</a>
                </div>
            </div>


            <div class="dropdown2 button dropbtn buttonHelp">

                <div class="dropdown2-content">
                    <p class="textHint">
                        - rule 1 : random text here<br>
                        - rule 1 : random text here<br>
                        - rule 1 : random text here
                        - rule 1 : random text here<br>
                        - rule 1 : random text here
                        - rule 1 : random text here<br>
                        - rule 1 : random text here
                    </p>
                </div>
            </div>


            <div class="title">MovieGuessr</div>

            <div class="flexbox2" >
                <div class="title2">remaining guesses</div>
                <div class="leftGuess">
                    <p class="try">0</p>
                </div>
            </div>

            

            <!--
            <button onclick="menuDrop()" class="dropdown button dropbtn buttonMenu"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
            <button onclick="menuDrop()" class="dropdown button dropbtn buttonHelp"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#help">Help</a>

            </div>
            <button onclick="menuDrop()" class="dropdown button dropbtn buttonOptions"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#op1">option1</a>
                <a href="#op2">option2</a>
                <a href="#op3">option3</a>
            </div>
            -->

            <!--
            <div style="padding: 10px;">
                <button onclick="menuDrop()" class="dropdown button dropbtn buttonMenu"></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="Home.html">Home</a>
                    <a href="#about">Logout</a>
                </div>

                <div class="dropdown2 button dropbtn buttonHelp">

                    <div class="dropdown2-content">
                        <p class="textHint">
                            - rule 1 : random text here<br>
                            - rule 1 : random text here<br>
                            - rule 1 : random text here
                            - rule 1 : random text here<br>
                            - rule 1 : random text here
                            - rule 1 : random text here<br>
                            - rule 1 : random text here
                        </p>
                    </div>
                </div>



            </div>


            <div class="title">MovieGuessr</div>


            <div class="flexbox2">
                <div class="title2">remaining guesses</div>
                <div class="leftGuess">
                    <p class="try">0</p>
                </div>
            </div>

        -->
        </div>


        <div class="imageBox"></div>

        <div class="hintStyle">
            <p class="textHint">
                hint 1: random hint text here - random hint text here
            </p>
            <p class="textHint">
                hint 2: random hint text here - random hint text here
            </p>
            <p class="textHint">
                hint 3: random hint text here - random hint text here
            </p>
            <p class="textHint">
                hint 4: random hint text here - random hint text here
            </p>
        </div>

        <div class="hintStyle">
            <p class="textHint">
                Summary: random summary text here - random summary text here
                - random summary text here - random summary text here
                - random summary text here - random summary text here
            </p>

        </div>


        <form class="textIn">
            <br>
            <label for="fname">Movie Title:</label>
            <input type="text" id="fname" name="fname" class="textField">
            <br><br>

        </form>

    </div>

    <!--
    <script>
        function menuDrop() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
-->
    <script src="menuDrop.js"></script>
    <script>
        function showPopup() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>



</body>

</html>