{% extends "layout/base.html" %}

{% block content %}

<div>
    Leaderboard
</div>

<div class="mt-4 text-white">
    <table>
        <tr>
            <th></th>
            <th class="p-4 text-white">User</th>
            <th class="p-4 text-white">Score</th>
        </tr>
        {% for user in users %}
        <tr> 
            <td class="p-4 text-white">{{ forloop.counter }}</td>
            <td class="p-4 text-white">
                {{ user }}
            </td>
            <td class="p-4 text-white">
                {{ user.total_score }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}