{% load static %}

<style>
    .buttonMenu {
        background: url({% static 'img/buttonMenu.png' %}) no-repeat;
    }
    .buttonHelp {
        background: url({% static 'img/buttonHelp.png' %}) no-repeat;
    }
    .buttonOptions {
        background: url({% static 'img/buttonOptions.png' %}) no-repeat;
    }
    
</style>

<div>
    <div class="flexboxLeft">
        <button onclick="menuDrop()" class="dropdown button dropbtn buttonMenu"></button>
        <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'leaderboard' %}">Scores</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <span class="title">MovieGuessr</span>
        {% if daily_game is not None %}
        <div class="flexbox2" >
            <div class="title2">Remaining Guesses</div>
            {% if remaining > 4 %}
            <div class="leftGuessGreen">
                <p class="green">{{ remaining }}</p>
            </div>
            {% elif remaining == 2 %}
            <div class="leftGuessOrange">
                <p class="orange">{{ remaining }}</p>
            </div>
            {% elif remaining == 1 %}
            <div class="leftGuessRed">
                <p class="red">{{ remaining }}</p>
            </div>
            {% else %}
            <div class="leftGuessYellow">
                <p class="yellow">{{ remaining }}</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <!--
    <span>
        {% if user.is_authenticated %}
            <span style="color: aliceblue;">{{ user.username }}</a></span>
        {% endif %}
    </span>
    
    <span>
        {% if user.is_authenticated %}
            <span style="color: aliceblue;"><a href="{% url 'logout' %}">Logout</a></span>
        {% endif %}
    </span>
    -->
</div>