{% extends "layout/base.html" %}

{% block content %}

<div class="row ">
    <div class="col d-flex justify-content-center">
        <img class="w-25 imageBox" src="{{ daily_game.movie.image_url }}">
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="hintStyle w-50">
        {% if guesses >= 1 %}
        <p class="textHint">
            Quote: {{ daily_game.movie.tagline }}
        </p>
        {% endif %}

        {% if guesses >= 2 %}
        <p class="textHint">
            Genres: {{ daily_game.movie.genres }}
        </p>
        {% endif %}

        {% if guesses >= 3 %}
        <p class="textHint">
            Actor: {{ daily_game.movie.actor }}
        </p>
        {% endif %}

        {% if guesses >= 4 %}
        <p class="textHint">
            Character: {{ daily_game.movie.character }}
        </p>
        {% endif %}

        {% if guesses >= 5 %}
        <p class="textHint">
            Summary: {{ daily_game.movie.summary }}
        </p>
        {% endif %}

    </div>
</div>

<form method="POST" action="{% url 'guess' %}" class="textIn">
    {% csrf_token %}
    <br>
    <div class="d-flex justify-content-center">
        <div class="input-group input-group-lg w-25">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Movie Title:</span>
            </div>
            <input type="text" id="guess" name="guess" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>

    <br><br>
    <div class="mainMenu">
        <a id="guess" name="guess" class="buttonMain">Get Hint</a>

    </div>

</form>

{% endblock %}