{% extends "layout/base.html" %}

{% block content %}

<table id="t01">

    <tr>
      <th>User</th>
      <th>Movie</th>
      <th># Tries</th>
      <th>Score</th>
      <th>Date</th>
      <th>Total Score</th>
    </tr>
  
    {% for item in scores %}
  
    <tr>
  
      <td>{{ item.user }}</td>
      <td>{{ item.movie }}</td>
      <td>{{ item.tries }}</td>
      <td>{{ item.score }}</td>
      <td>{{ item.game_date }}</td>
      <td>{{ item.total_score }}</td>
    </tr>
  {% endfor %}
  </table>
  <br>



<div class="hintStyle">
    <p class="textHint">
        hint 1: random hint text here - random hint text here
    </p>
    <p class="textHint">
        hint 2: random hint text here - random hint text here
    </p>
    <p class="textHint">
        hint 3: random hint text here - random hint text here
    </p>
    <p class="textHint">
        hint 4: random hint text here - random hint text here
    </p>
</div>

<div class="hintStyle">
    <p class="textHint">
        Summary: random summary text here - random summary text here
        - random summary text here - random summary text here
        - random summary text here - random summary text here
    </p>

</div>

<form class="textIn">
    <br>
    <label for="fname">Movie Title:</label>
    <input type="text" id="fname" name="fname" class="textField">
    <br><br>

</form>

{% endblock %}